
h1  {
    color: red;
    text-align: center;
    /* font-family: 'Ranchers', cursive; */
    font-family: 'IM Fell English SC', serif;
    font-size: 100px;

}
body {
    background-repeat: no-repeat;
    background-size: cover;

}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted lightblue;
    text-align: center;
    width: 1000px;
    float: none;
    background-color:skyblue transparent ;
    
}
div {
    font-family: 'IM Fell English SC', serif;   
    margin: left; 
    text-align: center;
 
}

p {
    text-align: center;    
}

nav {
    font-size: 30px;
}

#calls {
    font-size: 30px;
}

header {
margin: 0 auto;
}


image {
padding: 100px;
background-size: contain;
background-repeat: no-repeat;
}

.animal {
    length: 300px;
    width: 300px;
}
.animal:hover {
    cursor: pointer;
}

#animal0 {

    width: 500px;
    padding: 0px;
}

#animal1 {

    width: 500px;
}

#animal2 {

}

#animal3 {
    height: 200px;
    width: 200px;
}
#animal4 {
    height: 200px;
    width: 200px;
}

#bunny {
    height: 100px;
    width: 100px;
}

.timeout {
    font-size: 30px;
}